#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        bluetooth_for_win: bluetooth_for_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 10>, <&to 5>;

            label = "BLUETOOTH_FOR_WIN";
        };

        bluetooth_for_mac: bluetooth_for_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 10>, <&to 0>;

            label = "BLUETOOTH_FOR_MAC";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac-default {
            bindings = <
&kp Q           &kp W      &kp E         &kp R                   &kp T                                 &kp Y                    &kp U  &lt 0 I    &kp O    &kp P
&kp A           &kp S      &kp D         &kp F                   &kp G      &none       &trans         &kp H                    &kp J  &kp K      &kp L    &lt 1 ENTER
&mt LEFT_WIN Z  &kp X      &kp C         &kp V                   &kp B      &trans      &trans         &kp N                    &kp M  &kp COMMA  &kp DOT  &kp RIGHT_SHIFT
&kp LEFT_WIN    &kp LCTRL  &kp LEFT_ALT  &lt_to_layer_0 1 SPACE  &lt 2 TAB  &mo 3       &kp BACKSPACE  &mt LEFT_WIN LANGUAGE_2                             &lt 3 ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        mac-NUM {
            bindings = <
&kp LG(V)        &kp N7        &kp N8        &kp N9        &kp LS(LG(Z))                                        &kp RG(R)                 &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &mkp MB3
&kp LG(C)        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LG(Z)      &none                   &bt BT_SEL 1  &kp K_NEXT                &mkp MB1            &kp UP_ARROW      &mkp MB2             &trans
&mt LEFT_WIN N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LG(A)      &bluetooth_for_win      &trans        &kp K_BACK                &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT_ARROW      &trans
&kp LEFT_ALT     &trans        &trans        &trans        &trans         &trans                  &trans        &mt RIGHT_WIN LANGUAGE_1                                                             &trans
            >;
        };

        mac-SYMBOL {
            bindings = <
&kp PERCENT  &kp DOLLAR     &kp AMPERSAND  &kp CARET  &kp PLUS                          &none      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LESS_THAN  &kp GREATER_THAN
&kp SLASH    &kp POUND      &kp ASTRK      &kp PLUS   &kp EQUAL     &trans      &trans  &kp MINUS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp COLON
&kp AT       &kp BACKSLASH  &kp PIPE       &kp EXCL   &kp QUESTION  &trans      &trans  &kp UNDER  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SQT        &kp DOUBLE_QUOTES
&trans       &trans         &trans         &trans     &trans        &trans      &trans  &trans                                                                 &trans
            >;
        };

        mac-FUNCTION {
            bindings = <
&trans                &kp F7  &kp F8  &kp F9  &kp F12                                  &kp LA(LG(LEFT_ARROW))  &kp LC(LA(LEFT_ARROW))  &kp LA(LC(UP_ARROW))  &kp LC(LA(RIGHT_ARROW))  &kp LA(LC(RIGHT_ARROW))
&kp LS(LG(NUMBER_4))  &kp F4  &kp F5  &kp F6  &kp F11  &bootloader      &bootloader    &kp LS(LG(NUMBER_4))    &kp LA(LG(G))           &kp LC(L)             &kp LS(LA(LG(G)))        &trans
&kp K_LOCK            &kp F1  &kp F2  &kp F3  &kp F10  &trans           &trans         &trans                  &trans                  &trans                &trans                   &trans
&trans                &trans  &trans  &trans  &trans   &trans           &kp LG(LS(T))  &trans                                                                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        common-mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB5  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                  &trans
            >;
        };

        win-default {
            bindings = <
&kp Q        &kp W         &kp E         &kp R                   &kp T                                 &kp Y                 &kp U  &lt 0 I    &kp O    &kp P
&kp A        &kp S         &kp D         &kp F                   &kp G      &none       &trans         &kp H                 &kp J  &kp K      &kp L    &lt 6 ENTER
&mt LCTRL Z  &kp X         &kp C         &kp V                   &kp B      &trans      &trans         &kp N                 &kp M  &kp COMMA  &kp DOT  &kp RIGHT_SHIFT
&kp LCTRL    &kp LEFT_ALT  &kp LEFT_WIN  &lt_to_layer_0 6 SPACE  &lt 7 TAB  &mo 8       &kp BACKSPACE  &mt LCTRL LANGUAGE_2                             &lt 8 ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        win-NUM {
            bindings = <
&kp LC(V)     &kp N7        &kp N8        &kp N9        &kp LS(LC(Z))                                  &kp RC(R)                     &kp RG(RC(LEFT_ARROW))  &kp RG(RA(TAB))  &kp RG(RC(RIGHT_ARROW))  &kp RC(F4)
&kp LC(C)     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LC(Z)      &none                   &none   &mkp MB5                      &mkp MB1                &kp UP_ARROW     &mkp MB2                 &trans
&mt LCTRL N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LC(A)      &bluetooth_for_mac      &trans  &mkp MB4                      &kp LEFT_ARROW          &kp DOWN_ARROW   &kp RIGHT_ARROW          &trans
&trans        &trans        &trans        &trans        &trans         &trans                  &trans  &mt RC(RIGHT_WIN) LANGUAGE_1                                                                    &trans
            >;
        };

        win-SYMBOL {
            bindings = <
&kp LS(N5)        &kp LS(NUMBER_4)  &kp LS(NUMBER_6)      &kp CARET     &kp LS(EQUAL)                      &kp LS(COMMA)  &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)         &kp LS(PERIOD)  &none
&kp SLASH         &kp LS(NUMBER_3)  &kp LS(SINGLE_QUOTE)  &kp LS(SEMI)  &kp LS(MINUS)  &trans      &trans  &kp MINUS      &kp LS(ASTERISK)       &kp LS(LEFT_PARENTHESIS)  &kp SEMICOLON   &kp COLON
&kp LEFT_BRACKET  &kp BACKSLASH     &kp LS(BACKSLASH)     &kp EXCL      &kp QUESTION   &trans      &trans  &kp LS(MINUS)  &kp LEFT_BRACKET       &kp RIGHT_BRACKET         &kp SQT         &kp DOUBLE_QUOTES
&trans            &trans            &trans                &trans        &trans         &trans      &trans  &trans                                                                          &trans
            >;
        };

        win-FUNCTION {
            bindings = <
&trans                &kp F7  &kp F8  &kp F9  &kp F12                                  &kp LA(LG(LEFT_ARROW))  &kp LC(LA(LEFT_ARROW))  &kp LA(LC(UP_ARROW))  &kp LC(LA(RIGHT_ARROW))  &kp LA(LC(RIGHT_ARROW))
&kp LS(LG(NUMBER_4))  &kp F4  &kp F5  &kp F6  &kp F11  &bootloader      &bootloader    &kp LS(LG(NUMBER_4))    &kp LA(LG(G))           &kp LC(L)             &kp LS(LA(LG(G)))        &trans
&kp K_LOCK            &kp F1  &kp F2  &kp F3  &kp F10  &trans           &trans         &trans                  &trans                  &trans                &trans                   &trans
&trans                &trans  &trans  &trans  &trans   &trans           &kp LG(LS(T))  &trans                                                                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_10 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
